fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
aiohttp==3.10.5
asyncssh==2.17.0
requests==2.32.3
websockets==13.1
python-multipart==0.0.9
beautifulsoup4
python-nmap
sqlalchemy
asyncpg
kubernetes
cryptography
aiosmtplib
PyJWT==2.8.0
psutil